body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.homepage {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
}  
  
.mainHead {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  }

.logo img{
  border-radius: 45%;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0 10px;
  }
  
  /* LOG OUT BUTTON */
  .navbar a:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background-color: rgb(15, 30, 65);
    color: rgb(255, 255, 255);
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .navbar a:last-child i {
    font-size: 18px;
  }

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  padding: 15px 30px;
  background: linear-gradient(to bottom, rgb(49, 77, 147), rgb(108, 159, 140)); /* Add a gradient background color */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: rgb(156, 228, 202);
}



/**** HOMEPAGE ***/

.homeHead {
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MAIN LINKS */
.set1{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 50px;
  margin: 3em;
}

.set2{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
  margin: 3em;
}


.image-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 400px;
  overflow: hidden;
  border: 1px solid rgb(30, 2, 2);
  margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.image-links a img {
  width: 100%;
  height: 100%;
  opacity: 60%;
  object-fit: cover;
  transition: transform 0.5s;
}

.image-links a:hover img {
  transform: scale(1.1);
}

.image-links a span {
  position:absolute;
  top: 30%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.215);
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}  








  /**** TICKET FORM ****/

/* BLACK NAVIGATION BAR */
.navbar_black {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar_black a {
  color: rgb(225, 225, 225);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 0 10px;
}

/* LOG OUT BUTTON */
.navbar_black a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 80%;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar_black a:last-child i {
  font-size: 18px;
}
/* Style the navbar links as buttons */
.button {
display: inline-block;
padding: 10px 20px;
border-radius: 10px;
padding: 15px 30px;
background: linear-gradient(to bottom, rgb(49, 77, 147), rgb(108, 159, 140)); /* Add a gradient background color */
color: white;
font-size: 16px;
cursor: pointer;
}

/* Add a hover effect to the navbar buttons */
.button:hover {
background: rgb(156, 228, 202);
color: black;
}

  form {
    border: 1px solid gray;
    width: 30%;
    margin: 50px;
    padding: 20px;
    background-color: lightgray;
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }


label[for="event"] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }


select#event {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(0, 96, 64, 0.9);;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  select#event::-ms-expand {
    display: none;
  }
  
  select#event option {
    color: black;
  }
  

  /* Style the quantity input field */
input[type="number"] {
    width: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
  }
    
  /* Style the form inputs */
  input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* form button */
  input[type="submit"] {
    background-color: rgb(40, 60, 110);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgba(0, 96, 64, 0.9);
  }

